.map {
  width: 90%;
  height: 70rem;
  margin: 0 auto;
}

// .ol-overlaycontainer-stopevent {
//   display: flex;
//   padding-left: 48px;
//   padding-top: 12px;
//   padding-right: 12px;
//   // justify-content: flex-end;
//   //
//   flex-direction: column;
//   align-items: flex-end;
// }

.ol-zoom {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.ol-overlaycontainer-stopevent {
  button {
    height: 4rem;
    width: 4rem;
    border-radius: 12px;
    cursor: pointer;
    pointer-events: auto;
  }
  .ol-zoom-in {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .ol-zoom-out {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.ol-tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
// .ol-overlay-container {
//   transform: translate(0) !important;
// }

.ol-attribution {
  display: none;
}
.ol-rotate {
  display: none;
}
.ol-geo {
  transition: all 0.1s ease-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.controls-view_wrapper {
  position: absolute;
  right: 8px;
  top: 64px;
  bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}

.controls-view_slot {
  flex-grow: 1;
  flex-basis: 0;
}

.controls-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.controls-view_group {
  padding: 4px;
  pointer-events: auto;
}

.controls-view_zoom {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.button {
  position: relative;
  display: inline-block;
  border: 0;
  padding: 0;
  border-radius: 12px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  pointer-events: none;
  transition: color 0.1s ease-out;
  background: 0 0;
  background-color: white;
  // &:hover {
  //   box-shadow: none;
  // }
}

.button-top {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.button-bottom {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.button-geo {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    .button__icon {
      color: black;
    }
  }
}


.controls-view_geo {
  cursor: pointer;
}

.button__icon {
  color: #4d4d4d;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  &::after,
  &::before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &::after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  &::before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer::after {
  content: "✖";
}