@import "header.scss";
@import "footer.scss";
@import "floatMenu.scss";
@import "sliderType1.scss";
@import "olType1.scss";
@import "components/stars.scss";
@import "components/feedback.scss";
@import "components/feedbackForm.scss";
@import "components/customInput.scss";
@import "components/customCheckbox.scss";
@import "components/customPhoto.scss";

.main {
  margin-bottom: 3rem;
  &-cont-1 {
    background-image: url("/img/sky.jpg");
    background-repeat: repeat;
    position: relative;
    height: 50rem;
    margin-bottom: 3rem;
    margin-top: -14rem;
    padding-top: 14rem;
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 31.6rem;
      background-image: url("/img/gorod_39.png");
      background-repeat: repeat;
    }
    > div {
      height: 100%;
    }
  }
  .cont-1 {
    &_text {
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 105%;
      max-width: 40rem;
      padding-top: 4rem;
    }
    &_car-list {
      &-slider {
        display: none;
      }
      .div_item {
        position: absolute;
        &-1 {
          left: 7%;
          bottom: -9.4rem;
          width: 41rem;
        }
        &-2 {
          left: 28%;
          bottom: -6.8rem;
          width: 40rem;
        }
        &-3 {
          left: 43%;
          bottom: -9rem;
          width: 52rem;
        }
      }
    }
  }
  &-cont-2 {
    padding-top: 8.5rem;
  }
  &-cont-2-inner {
    display: grid;
    grid-template-columns: 41% 1fr 1fr;
    gap: 2rem;
  }
  .cont-2 {
    &_today {
      .div_tit {
        text-transform: uppercase;
      }
      .div_txt {
        line-height: 105%;
        margin-bottom: 1.5rem;
      }
      .div_link {
        text-decoration: underline;
      }
    }
    &_news {
      .div_tit {
        text-transform: uppercase;
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 1.1rem;
      }
      &-item {
        .div_date {
          font-size: 1.1rem;
        }
        .div_txt {
          text-decoration: underline;
        }
      }
    }
    &_bus-park {
      .div_tit {
        text-transform: uppercase;
        position: relative;
        z-index: 1;
      }
      &-list {
        display: flex;
        flex-direction: column;
      }
      &-item {
        .div_img {
          padding: 3rem;
          margin-top: -5.5rem;
          margin-left: -4.5rem;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .cont-1 {
      &_car-list {
        display: none;
        &-slider {
          display: block;
        }
      }
    }
    &-cont-2 {
      padding-top: 3.5rem;
    }
  }
  @media (max-width: 768px) {
    .cont-1 {
      &_text {
        font-size: 2rem;
      }
    }
    &-cont-2 {
      padding-top: 0;
    }
    &-cont-2-inner {
      grid-template-columns: 1fr;
    }
    .cont-2 {
      &_today {
        .div_tit {
          text-align: center;
        }
      }
      &_news {
        .div_tit {
          text-align: center;
        }
      }
      &_bus-park {
        .div_tit {
          text-align: center;
        }
        &-list {
          flex-wrap: wrap;
          flex-direction: row;
        }
      }
    }
  }
}

.reviews {
  margin-bottom: 3rem;
  &-tit {
    font-size: 28px;
    font-weight: 700;
  }
  &-rating {
    margin-bottom: 4rem;
    display: grid;
    grid-template-areas:
      "num stars"
      "num info";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    align-items: end;
    column-gap: 1rem;
    &_num {
      grid-area: num;
      font-size: 55px;
      line-height: 84%;
    }
    &_star-list {
      grid-area: stars;
    }
    &_info-list {
      grid-area: info;
      display: flex;
    }
    &_info-item {
      padding: 0 1rem;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        transform: translate(50%, -50%);
        right: 0;
        width: 5px;
        height: 5px;
        background-color: #9e9e9e;
        border-radius: 100%;
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        &::after {
          position: initial;
        }
      }
    }
  }
  &-sort {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    &_value-list {
      display: flex;
      gap: 2rem;
      .div_btn {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
        &.active {
          color: #0044bb;
        }
      }
    }
  }
  &-feedback {
    border-bottom: 2px solid #b2b2b2;
    padding-bottom: 4rem;
    margin-bottom: 6rem;
  }
}

.custom-btn_type-1 {
  display: inline-block;
  padding: 18px 20px;
  font-size: 16px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  background-color: #fce000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}
