.custom-input {
  position: relative;
  flex: 1;
  width: 100%;
  margin-bottom: 14px;
  color: gray;
  .div_input {
    background: none;
    border: none;
    width: 100%;
    padding: 10px 5px;
    color: black;
    border-bottom: 1px solid gray;
    outline: none;
    &.is-empty {
      & + .div_label {
        transform: scale(1) translateY(15px);
      }
    }
    &:focus {
      border-color: black;
      & + .div_label {
        transform: scale(0.75) translateY(-10px);
      }
    }
  }
  .div_label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: 0.333em 0;
    transition: transform 0.3s;
    pointer-events: none;
    transform: scale(0.75) translateY(-10px);
  }
  .div_txt {
    padding-top: 8px;
  }
}
