.custom-checkbox {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  input {
    position: absolute;
    left: -9999px;
  }
  &.checked {
    &:hover .custom-checkbox-button{
        background-color: #E3CA00;
    }
    .custom-checkbox-button{
      background-color: #FCE000;
      &:before {
        left: 18px;
      }
    }
  }
  &:hover &-button {
    background-color: #e0deda;
  }
  &_wrapper{
    margin-bottom: 3rem;
  }
}

.custom-checkbox-button {
  display: inline-block;
  margin-right: 3px;
  width: 40px;
  border-radius: 12px;
  background-color: #eeeeee;
  height: 23px;
  position: relative;
  bottom: -4px;
  cursor: pointer;
  transition: all 0.5s;
  &::before {
    background: #fff;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    // -webkit-box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3),
    //   0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
    // box-shadow: 0px 0px 1px 0px rgba(44, 77, 138, 0.3),
    //   0px 7px 8.55px 0.45px rgba(22, 44, 84, 0.15);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
